node_modules/
libs/
deps/dojo
deps/util
deps/dcl
deps/lodash
deps/hammer
jam/

# Don't commit SpecRunner that grunt-jasmine-runner generates in base of project
.grunt/
_SpecRunner.html

# During Development of new version, ignore dist/
# TODO: remove & build before release
# dist/