* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 130%;
  color: #000;
  background-color: #fff;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 200%;
  line-height: 130%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 0;
}

h1 sup {
  font-family: 'Open Sans', sans-serif;
  font-size: 50%;
  top: -1em;
}

h2 {
  font-size: 170%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
}

h3 {
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin-top: 16px;
  margin: 6px 0 3px 0;
}

h4 {
  font-size: 130%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin-top: 16px;
  margin: 18px 0 3px 0;
}

h5, .container-overview .subsection-title {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 8px 0 3px;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

a {
  color: #444;
}

a:visited {
  color: #444;
}

a:active {
  color: #444;
}

dd {
  margin-left: 20px;
}

.header {
  padding: 10px 10px 0;
}

.sidebar {
  padding: 10px;
}

.main {
  padding: 0 10px 10px;
}

.logo {
  font-size: 4em;
  line-height: 1em;
}

.main img[alt="FrozenJS Logo"] {
  float: right;
  padding-left: 5px;
}

.variation {
  display: none;
}

.optional:after {
  content: "opt";
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

.mainnav {
  padding: 10px;
  background: #10b7fb;
  border-radius: 5px;
}

.mainnav a {
  margin-right: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 125%;
  text-decoration: none;
}

.mainnav a:last-of-type {
  margin-right: 0;
}

@media (max-width: 600px){
  .main img[alt="FrozenJS Logo"] {
    width: 100px;
  }
}

@media (min-width: 600px){
  .header {
    width: 70%;
  }

  .logo {
    font-size: 6em;
  }

  .main {
    width: 70%;
  }

  .sidebar {
    width: 30%;
    box-shadow: -1.5rem 0 1.5rem -2rem #000;
    height: 100%;
    background: linear-gradient(white 30%, hsla(0,0%,100%,0)), linear-gradient(hsla(0,0%,100%,0), white 70%) bottom, radial-gradient(at 50% 0, rgba(0,0,0,.2), transparent 70%), radial-gradient(at 50% 100%, rgba(0,0,0,.2), transparent 70%) bottom;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 8px, 100% 8px;
    background-attachment: local, local, scroll, scroll;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
  }
}

@media (min-width: 960px){
  .header {
    width: 80%;
  }

  .main {
    width: 80%;
  }

  .sidebar {
    width: 20%;
  }
}

.examplepage .header,
.examplepage .main {
  width: 100%;
}

.sidebar ul {
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0 0 10px;
  list-style-type:none;
}

.sidebar h2 a, .sidebar h2 a:visited {
  color: #A35A00;
  text-decoration: none;
}

.sidebar li {
  margin-top: 6px;
}

.sidebar a {
  color: #5C5954;
}

.sidebar a:visited {
  color: #5C5954;
}

.sidebar a:active {
  color: #5C5954;
}

footer {
  display: block;
  padding: 6px;
  margin-top: 12px;
  font-style: italic;
  font-size: 90%;
}

.doc-title {
  padding: 10px 5px;
  box-shadow: 0 0.5rem 1.5rem -1rem #000;
}

.doc-contents {
  padding-left: 15px;
}

.subsection-title {
  padding: 10px 0;
  box-shadow: 0 0.5rem 1.5rem -1rem #000;
}

.ancestors {
  color: #999;
}

.ancestors a {
  color: #999 !important;
  text-decoration: none;
}

.important {
  font-weight: bold;
  color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
  color: #10b7fb;
}

.details {
  margin-top: 14px;
}

.details dt {
  width: 150px;
  float: left;
  border-left: 2px solid #DDD;
  padding-left: 10px;
  padding-top: 6px;
}

.details dd {
  margin-left: 150px;
}

.details ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.details li {
  padding-top: 6px;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.code-caption {
  font-style: italic;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 107%;
  margin: 0;
}

.params,
.props {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

.params td,
.params th,
.props td,
.props th {
  border-bottom: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

.params td p,
.params th p,
.props td p,
.props th p {
  margin: 0;
}

.params thead tr,
.props thead tr {
  background-color: #b1e3fe;
  font-weight: bold;
}

.params .params thead tr,
.props .props thead tr {
  background-color: #fff;
  font-weight: bold;
}

.params th,
.props th {
  border-bottom: 0;
}

.params th:first-of-type {
  width: 20%;
}

.params th:nth-of-type(2){
  width: 20%;
}

.disabled {
  color: #454545;
}

.example {
  padding: 0 10px;
  margin-bottom: 10px;
}

.example a {
  font-size: 125%;
}

/* Blog styles */
.post {
  margin-bottom: 60px;
}

.post-date {
  text-transform: capitalize;
}

.post-navigation {
  margin: 15px 0;
}

.post-navigation:after {
  content: "";
  display: table;
  clear: both;
}

.newer,
.older {
  background-color: #10B7FB;
  padding: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-clip: padding-box;
}

.older {
  float: right;
}

.newer a,
.older a {
  color: #FFF;
  text-decoration: none;
  font-size: 120%;
}

/* PRISM overrides */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border-radius: 5px;
}

pre[class*="language-"] {
  background: #F0FAFF;
}
